/**
 * Main styles for: minnpost-green-line-story-map
 */

// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-green-line-story-map-container {

  .application-container {
    padding-top: 4em;
  }

  .storymap {
    margin-bottom: 3em;
    height: 40em;

    .vco-caption {
      text-align: right;
    }

    .leaflet-marker-icon {
      top: -46px;
      left: -13px;
    }


    &.vco-layout-landscape {

      .vco-menubar {
        z-index: 2000;
      }

      .vco-storyslider {
        z-index: 1000;

        .vco-slider-background {
          background-image: none;
          background-color: #FFFFFF;
          background-color: rgba(255, 255, 255, 0.9);

          @include box-shadow(-1px 0px 17px 0px rgba(0, 0, 0, 0.65));
        }
      }
    }

    &.vco-layout-portrait {
      border: 1px solid #DEDEDE;

      &.vco-skinny .vco-slidenav-previous {
        left: 9px;
      }

      &.vco-skinny .vco-slidenav-next {
        right: 41px;
      }

      .vco-mapmarker-active {
        color: #0D57A0;
      }
    }
  }

  .fallback-content {

    .slide {
      margin-bottom: 2em;

      .image-group {
        width: 30%;
        float: left;
        margin: 0 1em .5em 0;
      }

      .text-group {
        width: 60%;
        float: left;
      }
    }
  }

  .footnote {
    margin-bottom: 3em;
  }


  // Custom breakpoints
  @media screen and (max-width: 730px) {

    .storymap {
      height: 33em;
    }
  }

  @media screen and (max-width: 500px) {

    .storymap {
      height: 25em;
    }
  }
}
